@media (max-width: 660px) {
    .columns-container {
        flex-direction: column;
    }
    .columns-container>.columns-sector {
        flex-direction: row;
    }
    .columns-container>.columns-sector>div {
        flex: 1;
    }
    .columns-sector .column-video {
        flex: 0.5 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .columns-sector .column-video.no-assets {
        display: none;
    }
    .two-sides-content-wrapper.mobile-flick {
        flex-direction: column;
    }
}