.inline-title-block {
    font-family: var(--font-accent);
    font-weight: 300;
    margin: 20px;
    user-select: none;
    display: flex;
    align-items: center;
}

.inline-title-level-1 {
    font-size: 36px;
}

.inline-title-level-2 {
    font-size: 24px;
    margin: 15px 30px 5px;
}

.inline-title-level-3 {
    font-weight: 500;
    font-size: 13px;
    margin: 10px auto;
    border: solid 1.5px var(--color-card-border);
    padding: 5px 15px;
    border-radius: 2em;
    display: table;
}

.inline-title-clickable .inline-title-level-3 {
    cursor: pointer;
}

.inline-title-clickable:focus .inline-title-level-3, .inline-title-clickable:active .inline-title-level-3 {
    background: var(--color-card-item-highlight-focus);
}

.inline-title-block .title-text-content {
    display: table-cell;
}

.inline-title-block>.flex-container>* {
    align-self: center
}

.card {
    border: solid var(--color-card-border) 1px;
    border-radius: .8em;
    box-shadow: 0 5px 20px var(--color-card-shadow);
    overflow: hidden;
    background: var(--color-card-background);
}

.card+.card {
    margin-top: 15px;
}

.card .card-padding-content {
    padding: 10px 15px
}

.card .card-list-item:not(:last-child) {
    border-bottom: solid 1.5px var(--color-card-border);
}

.card-list-container+.card-list-container {
    border-top: solid 1.5px var(--color-card-border);
}

.card .card-list-item.card-list-item-clickable {
    cursor: pointer;
    transition: background .3s;
}

.card .card-list-item.card-list-item-clickable:hover {
    background: var(--color-card-item-highlight);
}

.card .card-list-item.card-list-item-clickable:focus, .card .card-list-item.card-list-item-clickable:active {
    background: var(--color-card-item-highlight-focus);
}

.card.warn-highlight {
    border-color: var(--color-card-warning-border-color);
    box-shadow: var(--color-card-warning-shadow);
}

.two-sides-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

switch-input {
    transition: all .2s;
    display: block;
    width: 35px;
    height: 12px;
    border-radius: 13px;
    background: var(--color-main-light-a);
    position: relative;
    min-width: 35px;
    min-height: 12px;
}

switch-input:before {
    transition: all .2s;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 0 2px 5px var(--color-switch-shadow);
    position: absolute;
    left: 100%;
    transform: translate(-100%, -25%);
    background: var(--color-main);
}

switch-input[state="0"] {
    filter: grayscale(100)
}

switch-input[state="0"]:before {
    left: 0;
    transform: translate(0, -25%);
}

switch-input:after {
    transition: all .2s;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 100%;
    transform: translate(-87%, -32%);
    background: transparent;
    pointer-events: none;
}

switch-input[state="0"]::after {
    transform: translate(-13%, -32%);
    left: 0;
}

switch-input:focus:after, switch-input:active:after, .card-list-item-clickable:focus switch-input:after, .card-list-item-clickable:active switch-input:after {
    background: var(--color-switch-ripple);
}

md-button {
    display: inline-block;
    padding: 10px 15px;
    background: var(--color-button-background);
    color: var(--color-button-text);
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px var(--color-button-shadow);
    transition: all .2s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    font-family: var(--font-accent);
}

md-button:active {
    box-shadow: 0 4px 9px var(--color-button-shadow-hover);
}

md-button.light {
    color: var(--color-button-text-light);
    background: var(--color-button-background-light);
}

md-button.accent {
    background: var(--color-button-background-accent);
    color: var(--color-button-text-accent);
}

md-button.accent.light {
    background: var(--color-button-background-accent-light);
    color: var(--color-button-text-accent-light);
}

md-button.alert {
    background: var(--color-warning-info);
}

@keyframes ripple {
    0% {
        border-radius: 50%;
    }
    50% {
        border-radius: 50%;
    }
    100% {
        border-radius: 0;
    }
}

md-button>md-ripple-effect {
    background: var(--color-button-ripple);
    border-radius: 50%;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%)
}

md-button::before {
    content: "";
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s;
}

md-button:hover::before, md-button:focus::before, md-button:active::before {
    background: var(--color-button-ripple-accent);
}

/*
md-button::before {
    content: "";
    background: var(--color-button-ripple);
    width: 110%;
    height: 110%;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    transition: all .2s;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    pointer-events: none;
}

md-button:active:before, md-button:focus:before {
    animation-name: ripple;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    transform: translate(-50%, -50%) scale(1);
}
*/

.popup-main-scaffold {
    position: relative;
    width: 100%;
    height: 100%;
}

.blackout-fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-overlay-darkout);
    cursor: pointer;
    z-index: 1;
}

.absolute-popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup-position-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.popup-limit-container {
    max-width: 600px;
    height: 90%;
    position: absolute;
    overflow: hidden;
}

.popup-limit-container .card {
    overflow: hidden;
    max-height: 100%;
    margin: 10px;
    z-index: 2;
}

.popup-limit-container .card>.card-scroll-container {
    max-height: 100%;
    overflow: auto;
}

.popup-under-limit-position {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.ready-flex-algin {
    display: flex;
    flex-direction: column;
}

.ready-flex-algin.row {
    flex-direction: row;
}

.ready-flex-algin.center {
    align-content: center;
    justify-content: center;
    text-align: center;
}

.ready-flex-algin.right {
    justify-content: flex-end;
}

.columns-container {
    display: flex;
}

.columns-container>.columns-sector {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.columns-sector .card-padding-content {
    font-size: .7em;
}

@keyframes border-bulp {
    0% {
        box-shadow: inset 0 0 0 3px var(--color-radio-selected);
    }
    50% {
        box-shadow: inset 0 0 0 1em var(--color-radio-selected);
    }
    100% {
        box-shadow: inset 0 0 0 3px var(--color-radio-selected);
    }
}

@keyframes border-bulp-out {
    0% {
        box-shadow: inset 0 0 0 3px var(--color-radio-selected);
    }
    50% {
        box-shadow: inset 0 0 0 1em var(--color-radio-selected);
    }
    100% {
        box-shadow: inset 0 0 0 3px var(--color-radio-selected);
    }
}

radio-handler>md-radio {
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px var(--color-radio-selected);
    position: relative;
    border-radius: 50%;
    display: block;
    transition: all .2s;
    cursor: pointer;
}

radio-handler[selected-radio]>md-radio {
    animation: border-bulp .3s;
}

radio-handler:not([selected-radio])>md-radio {
    filter: grayscale(1) brightness(1.7);
    animation: border-bulp-out .3s;
}

radio-handler>md-radio:before {
    content: "";
    background: var(--color-radio-selected);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: all .3s;
    transition-timing-function: cubic-bezier(0.52, -0.31, 0, 1.88);
}

radio-handler[selected-radio]>md-radio:before {
    width: 50%;
    height: 50%;
}

radio-handler>md-radio:after {
    content: "";
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    transition: all .2s;
    opacity: 0;
}

radio-handler>md-radio:active:after, radio-handler>md-radio:focus:after {
    width: 175%;
    height: 175%;
    background: var(--color-radio-selected);
    opacity: .15;
}

radio-handler {
    display: block;
}

radio-handler.column-radio-chooser {
    margin: 5px;
    cursor: pointer;
    transition: all .2s;
    flex: 1;
}

radio-handler.column-radio-chooser:hover {
    background: var(--color-card-item-highlight);
    border-radius: 3px;
}

radio-handler.column-radio-chooser:focus, radio-handler.column-radio-chooser:active {
    background: var(--color-card-item-highlight-focus);
    border-radius: 3px;
}

radio-handler.column-radio-chooser[selected-radio] {
    background: var(--color-accent);
    color: var(--color-accent-text);
    border-radius: 3px;
}

.md-radio-label>* {
    margin: 10px;
    display: flex;
    align-items: center;
}

.md-toast-container {
    width: calc(100% - var(--size-nav-width));
    right: 0;
    display: flex;
    position: fixed;
    pointer-events: none;
    bottom: 0;
    overflow: hidden;
}

.md-toast-container.transanim {
    transition: bottom .2s, opacity .2s;
}

md-toast {
    display: block;
    pointer-events: all;
    max-width: 500px;
    background: var(--color-toast-bg);
    color: var(--color-toast-text);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.md-toast-inner, .md-toast-buttons, .md-toast-close-button-holder {
    display: flex;
    align-items: center;
}

.md-toast-main-content {
    flex: 1;
}

.md-toast-close-button-holder {
    padding: 15px;
}

md-button.transparentMDButton {
    background: transparent;
    text-transform: uppercase;
    color: var(--color-accent);
    box-shadow: none !important;
}

md-button.transparentMDButton.color-main {
    color: var(--color-main);
}

md-toast md-button.transparentMDButton {
    color: var(--color-toast-accent)
}

md-toast md-button.transparentMDButton::before {
    opacity: .2;
}

md-toast md-button.transparentMDButton:hover::before, md-toast md-button.transparentMDButton:active::before, md-toast md-button.transparentMDButton:focus::before {
    background: var(--color-toast-ripple);
}

md-toast md-button.transparentMDButton>md-ripple-effect {
    background: var(--color-toast-ripple-mono);
}

.bottom-buttons {
    position: sticky;
    bottom: 0px;
    background: white;
    border-top: solid 1.5px var(--color-card-border);
}