.inline-title-block {
    font-family: var(--font-accent);
    font-weight: 300;
    margin: 15px;
    user-select: none;
    display: flex;
    align-items: center;
}

.inline-title-level-1 {
    font-size: 36px;
}

.inline-title-level-2 {
    font-size: 24px;
    margin: 15px;
}

.two-sides-content-wrapper.mobile-flick .inline-title-level-2 {
    margin: 0
}

.inline-title-level-1 + .inline-title-level-2 {
    margin-top: 0;
}

.inline-title-level-3 {
    font-weight: 500;
    font-size: 13px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.inline-title-level-3>.title-decoration-container {
    border: solid 1.5px var(--color-card-border);
    padding: 5px 15px;
    border-radius: 2em;
}

.inline-title-block>.title-decoration-container>.flex-container {
    align-items: center;
}

.inline-title-clickable .inline-title-level-3 {
    cursor: pointer;
}

.inline-title-clickable:focus .inline-title-level-3, .inline-title-clickable:active .inline-title-level-3 {
    background: var(--color-card-item-highlight-focus);
}

.inline-title-block .title-text-content {
    display: table-cell;
}

.inline-title-block>.flex-container>* {
    align-self: center
}

.card {
    border-radius: .6em;
    box-shadow: 0 5px 20px var(--color-card-shadow), 0 0 0 1px var(--color-card-border);
    overflow: hidden;
    background: var(--color-card-background);
}

.card+.card {
    margin-top: 15px;
}

.card .card-padding-content {
    padding: 10px 15px
}

.card.forced-card-padding {
    padding: 10px 15px
}

.card .card-list-item:not(:last-child) {
    border-bottom: solid 1.5px var(--color-card-border);
}

.card-list-container+.card-list-container {
    border-top: solid 1.5px var(--color-card-border);
}

.card .card-list-item.card-list-item-clickable {
    cursor: pointer;
    transition: background .3s;
}

.card .card-list-item.card-list-item-clickable:hover {
    background: var(--color-card-item-highlight);
}

.card .card-list-item.card-list-item-clickable:focus, .card .card-list-item.card-list-item-clickable:active {
    background: var(--color-card-item-highlight-focus);
}

.card.warn-highlight {
    box-shadow: var(--color-card-warning-shadow), 0 0 0 1px var(--color-card-warning-border);
}

.card.main-highlight {
    box-shadow: var(--color-card-main-shadow), 0 0 0 1px var(--color-card-main-border);
}

.card.accent-highlight {
    box-shadow: var(--color-card-accent-shadow), 0 0 0 1px var(--color-card-accent-border);
}

.two-sides-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

switch-input {
    transition: all .2s;
    display: block;
    width: 35px;
    height: 12px;
    border-radius: 13px;
    background: var(--color-switch-race);
    position: relative;
    min-width: 35px;
    min-height: 12px;
}

switch-input:before {
    transition: all .2s;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 0 2px 5px var(--color-switch-shadow);
    position: absolute;
    left: 100%;
    transform: translate(-100%, -25%);
    background: var(--color-switch-toggle);
}

switch-input[state="0"] {
    background: var(--color-switch-race-off);
}

switch-input[state="0"]:before {
    left: 0;
    transform: translate(0, -25%);
    background: var(--color-switch-toggle-off);
}

switch-input:after {
    transition: all .2s;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 100%;
    transform: translate(-87%, -32%);
    background: transparent;
    pointer-events: none;
}

switch-input[state="0"]::after {
    transform: translate(-13%, -32%);
    left: 0;
}

switch-input:focus:after, switch-input:active:after, .card-list-item-clickable:focus switch-input:after, .card-list-item-clickable:active switch-input:after {
    background: var(--color-switch-ripple);
}

md-button {
    display: inline-block;
    padding: 10px 15px;
    background: var(--color-button-background);
    color: var(--color-button-text);
    margin: 10px;
    margin-left: 0;
    border-radius: 5px;
    box-shadow: 0 2px 6px var(--color-button-shadow);
    transition: all .2s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    font-family: var(--font-accent);
}

md-button + md-button {
    margin-left: 10px;
}

md-button:active {
    box-shadow: 0 4px 9px var(--color-button-shadow-hover);
}

md-button.small {
    font-weight: 500;
    font-size: 13px;
    margin: 10px auto;
    border: solid 1.5px var(--color-card-border);
    padding: 5px 15px;
    border-radius: 2em;
}

md-button.light {
    color: var(--color-button-text-light);
    background: var(--color-button-background-light);
}

md-button.accent {
    background: var(--color-button-background-accent);
    color: var(--color-button-text-accent);
}

md-button.accent.light {
    background: var(--color-button-background-accent-light);
    color: var(--color-button-text-accent-light);
}

md-button.generic.light {
    background: var(--color-main-bg);
    color: var(--color-generic);
}

md-button.alert {
    background: var(--color-warning-info);
}

md-button.small.light {
    box-shadow: none;
}

@keyframes ripple {
    0% {
        border-radius: 50%;
    }
    50% {
        border-radius: 50%;
    }
    100% {
        border-radius: 0;
    }
}

md-button>md-ripple-effect {
    background: var(--color-button-ripple);
    border-radius: 50%;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
}

md-button>md-button-content {
    z-index: 2;
    position: relative;
}

md-button::before {
    content: "";
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s;
}

md-button:hover::before, md-button:focus::before, md-button:active::before {
    background: var(--color-button-ripple-accent);
}

/*
md-button::before {
    content: "";
    background: var(--color-button-ripple);
    width: 110%;
    height: 110%;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    transition: all .2s;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    pointer-events: none;
}

md-button:active:before, md-button:focus:before {
    animation-name: ripple;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    transform: translate(-50%, -50%) scale(1);
}
*/

.popup-main-scaffold {
    position: relative;
    width: 100%;
    height: 100%;
}

.blackout-fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-overlay-darkout);
    cursor: pointer;
    z-index: 1;
}

.absolute-popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup-position-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.popup-limit-container {
    max-width: 600px;
    height: 90%;
    position: absolute;
    overflow: hidden;
}

.popup-limit-container .card {
    overflow: hidden;
    max-height: 100%;
    margin: 10px;
    z-index: 2;
    position: relative;
}

.popup-limit-container .card>.card-scroll-container {
    max-height: 100%;
    overflow: auto;
}

.popup-under-limit-position {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.ready-flex-align {
    display: flex;
    flex-direction: column;
}

.ready-flex-align.row {
    flex-direction: row;
}

.ready-flex-align.center {
    align-content: center;
    justify-content: center;
    text-align: center;
}

.ready-flex-align.right {
    justify-content: flex-end;
}

.columns-container {
    display: flex;
}

.columns-container>.columns-sector {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.columns-sector .card-padding-content {
    font-size: .7em;
}

@keyframes border-bulp {
    0% {
        box-shadow: inset 0 0 0 3px var(--color-radio-selected);
    }
    50% {
        box-shadow: inset 0 0 0 1em var(--color-radio-selected);
    }
    100% {
        box-shadow: inset 0 0 0 3px var(--color-radio-selected);
    }
}

@keyframes border-bulp-out {
    0% {
        box-shadow: inset 0 0 0 3px var(--color-radio-selected);
    }
    50% {
        box-shadow: inset 0 0 0 1em var(--color-radio-selected);
    }
    100% {
        box-shadow: inset 0 0 0 3px var(--color-radio-selected);
    }
}

radio-handler>md-radio {
    width: 21px;
    height: 21px;
    box-shadow: inset 0 0 0 2px var(--color-radio-selected);
    position: relative;
    border-radius: 50%;
    display: block;
    transition: all .2s;
    cursor: pointer;
}

radio-handler[selected-radio]>md-radio {
    animation: border-bulp .3s;
}

radio-handler:not([selected-radio])>md-radio {
    filter: grayscale(1) brightness(1.7);
    animation: border-bulp-out .3s;
}

radio-handler>md-radio:before {
    content: "";
    background: var(--color-radio-selected);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: all .3s;
    transition-timing-function: cubic-bezier(0.52, -0.31, 0, 1.88);
}

radio-handler[selected-radio]>md-radio:before {
    width: 50.5%;
    height: 50.5%;
}

radio-handler>md-radio:after {
    content: "";
    width: 50.5%;
    height: 50.5%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    transition: all .2s;
    opacity: 0;
}

radio-handler>md-radio:active:after, radio-handler>md-radio:focus:after {
    width: 175%;
    height: 175%;
    background: var(--color-radio-selected);
    opacity: .15;
}

radio-handler {
    display: block;
}

radio-handler.column-radio-chooser {
    margin: 5px;
    cursor: pointer;
    transition: all .2s;
    flex: 1;
}

radio-handler.column-radio-chooser:hover {
    background: var(--color-card-item-highlight);
    border-radius: 3px;
}

radio-handler.column-radio-chooser:focus, radio-handler.column-radio-chooser:active {
    background: var(--color-card-item-highlight-focus);
    border-radius: 3px;
}

radio-handler.column-radio-chooser[selected-radio] {
    background: var(--color-accent);
    color: var(--color-accent-text);
    border-radius: 3px;
}

.md-radio-label>* {
    margin: 10px;
    display: flex;
    align-items: center;
}

.md-radio-label.big-card>*:nth-child(1) {
    margin-left: 20px;
}

.md-radio-label:not(.big-card) .md-radio-label-content {
    margin-left: 0;
}

.md-toast-container {
    width: calc(100% - var(--size-nav-width));
    right: 0;
    display: flex;
    position: fixed;
    pointer-events: none;
    bottom: 0;
    overflow: hidden;
}

.md-toast-container.transanim {
    transition: bottom .2s, opacity .2s;
}

md-toast {
    display: block;
    pointer-events: all;
    max-width: 500px;
    background: var(--color-toast-bg);
    color: var(--color-toast-text);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.md-toast-inner, .md-toast-buttons, .md-toast-close-button-holder {
    display: flex;
    align-items: center;
}

.md-toast-main-content {
    flex: 1;
}

.md-toast-close-button-holder {
    padding: 15px;
}

md-button.transparentMDButton {
    background: transparent;
    text-transform: uppercase;
    color: var(--color-accent);
    box-shadow: none !important;
}

md-button.transparentMDButton.color-main {
    color: var(--color-main);
}

md-toast md-button.transparentMDButton {
    color: var(--color-toast-accent)
}

md-toast md-button.transparentMDButton::before {
    opacity: .2;
}

md-toast md-button.transparentMDButton:hover::before, md-toast md-button.transparentMDButton:active::before, md-toast md-button.transparentMDButton:focus::before {
    background: var(--color-toast-ripple);
}

md-toast md-button.transparentMDButton>md-ripple-effect {
    background: var(--color-toast-ripple-mono);
}

.bottom-buttons {
    position: sticky;
    bottom: 0px;
    background: var(--color-bottom-buttons-bg);
    border-top: solid 1.5px var(--color-card-border);
    z-index: 2;
}

md-input:focus, md-input:focus-within {
    --color-input-local: var(--color-main);
}

md-input.accent:focus, md-input.accent:focus-within {
    --color-input-local: var(--color-accent);
}

md-input {
    position: relative;
    display: block;
    --color-input-local: var(--color-text-input-default);
    box-shadow: 0px 2.5px 0px 0px var(--color-input-local);
    margin: 5px;
    transition: all .2s;
}

md-input>md-input-content {
    padding: 20px 3px 10px 3px;
    display: block;
    min-height: 50px;
}

md-input>md-input-content+md-input-placeholder {
    display: block;
    position: absolute;
    top: 5px;
    left: 3px;
    font-size: 10px;
    font-weight: 500;
    color: var(--color-input-local);
    transition: all .2s;
    pointer-events: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

md-input:not(:focus-within)>md-input-content:empty+md-input-placeholder {
    top: 20px;
    color: var(--color-text-input-placeholder);
    font-size: inherit;
    font-weight: inherit;
}

.white-input-container md-input {
    color: white;
    --color-input-local: white;
}

.white-input-container md-input md-input-placeholder {
    color: white;
}

md-select>md-input>md-input-content, md-widget-editable>md-input>md-input-content {
    width: 95%;
}

md-select, md-widget-editable {
    cursor: pointer;
    position: relative;
    display: block;
}

md-input+.md-select-hint>md-icon {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    color: var(--color-accent);
}

md-file-wrapper>label {
    color: var(--color-generic-inverted);
    display: block;
    padding: 10px 15px;
    background: var(--color-main);
    border-radius: 5px;
    font-family: var(--font-accent);
    box-shadow: 0 3px 5px 0 var(--color-button-shadow);
    cursor: pointer;
    margin: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all .2s;
    text-align: center;
}

md-file-wrapper>label:focus, md-file-wrapper>label:active {
    background: var(--color-main-light-a)
}

md-file-wrapper>input[type="file"] {
    display: none;
}

context-menu {
    position: fixed;
    display: block;
    background: var(--color-popup-bg);
    min-width: 150px;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
    margin: 5px;
    border-radius: 5px;
}

context-menu-item {
    white-space: nowrap;
    padding: 5px 10px 5px 0;
    display: block;
    cursor: pointer;
    transition: background .2s;
}

context-menu-element {
    white-space: nowrap;
}

context-menu-item:hover {
    background: var(--color-popup-hover)
}

context-menu-item:focus, context-menu-item:active {
    background: var(--color-popup-focus)
}

context-menu-item:nth-child(1) {
    margin-top: 5px;
}

context-menu-item:last-child {
    margin-bottom: 5px;
}

context-menu-item-holder {
    display: flex;
    align-items: center;
}

context-menu-item-holder>md-icon {
    font-size: 1.5em;
    margin: 0 10px 0 10px;
    color: var(--color-context-menu-icon);
}

context-menu-item-title {
    display: block;
}

context-menu-delimeter {
    display: block;
    border-top: 1.5px solid var(--color-popup-delimeter);
    margin: 5px 0;
}

context-menu.swiper {
    transition: transform .05s ease-in-out;
    transform: translateY(100%) !important;
    will-change: transform, height, top;
}

context-menu.swiper.start {
    transform: translateY(100%) !important;
}

context-menu.swiper.hide {
    max-height: 0 !important;
}

context-menu-handler-isolate {
    display: none;
}

input.md-input, textarea.md-input {
    position: relative;
    display: block;
    --color-input-local: var(--color-text-input-default);
    border: 0;
    box-shadow: 0px 2.5px 0px 0px var(--color-input-local);
    margin: 5px;
    transition: all .2s;
    padding: 20px 3px 10px 3px;
    display: block;
    font-size: var(--size-text-default);
    min-height: 50px;
    width: calc(100% - 10px);
    background: transparent;
}

input.md-input::-webkit-outer-spin-button, input.md-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input.md-input[type="number"] {
    -moz-appearance: textfield;
}

input.md-input::placeholder, textarea.md-input::placeholder {
    color: var(--color-text-input-placeholder);
    transition: all .2s;
}

input.md-input::-webkit-input-placeholder, input.md-input:-ms-input-placeholder, input.md-input::-ms-input-placeholder,
textarea.md-input::-webkit-input-placeholder, textarea.md-input:-ms-input-placeholder, textarea.md-input::-ms-input-placeholder {
    color: var(--color-text-input-placeholder);
    transition: all .2s;
}

input.md-input:focus, textarea.md-input:focus {
    --color-input-local: var(--color-main);
}

input.md-input:not(:focus):empty::-webkit-input-placeholder, input.md-input:not(:focus):empty:-ms-input-placeholder, input.md-input:not(:focus):empty::-ms-input-placeholder, input.md-input:not(:focus):empty::placeholder {
    top: 20px;
    color: #b1b1b1;
    font-weight: normal;
    font-size: initial;
}

md-simple-list-item {
    border-bottom: solid 1px var(--color-dedicated-accent-box);
    padding: 15px 10px;
    display: block;
    cursor: pointer;
}

md-simple-list-item:hover {
    background: var(--color-card-item-highlight)
}

md-simple-list-item:active,md-simple-list-item:focus  {
    background: var(--color-card-item-highlight-focus)
}