.inline-title-block {
    font-family: "Product Sans", "Roboto";
    font-weight: 300;
    margin: 20px;
    user-select: none;
    display: flex;
    align-items: center;
}

.inline-title-level-1 {
    font-size: 36px;
}

.inline-title-level-2 {
    font-size: 24px;
    margin: 15px 30px 5px;
}

.inline-title-level-3 {
    font-weight: 500;
    font-size: 13px;
    margin: 10px auto;
    border: solid 1.5px var(--color-card-border);
    padding: 5px 15px;
    border-radius: 2em;
    display: table;
}

.inline-title-block .title-text-content {
    display: table-cell;
}

.inline-title-block>.flex-container>* {
    align-self: center
}

.card {
    border: solid var(--color-card-border) 1px;
    border-radius: .8em;
    box-shadow: 0 5px 20px var(--color-card-shadow);
    overflow: hidden;
}

.card+.card {
    margin-top: 15px;
}

.card .card-padding-content {
    padding: 10px 15px
}

.card .card-list-item:not(:last-child) {
    border-bottom: solid 1.5px var(--color-card-border);
}

.card-list-container + .card-list-container {
    border-top: solid 1.5px var(--color-card-border);
}

.card .card-list-item.card-list-item-clickable {
    cursor: pointer;
    transition: background .3s;
}

.card .card-list-item.card-list-item-clickable:hover {
    background: var(--color-card-item-highlight);
}

.card .card-list-item.card-list-item-clickable:focus, .card .card-list-item.card-list-item-clickable:active {
    background: var(--color-card-item-highlight-focus);
}

.two-sides-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

switch-input {
    transition: all .2s;
    display: block;
    width: 35px;
    height: 12px;
    border-radius: 13px;
    background: var(--color-main-light-a);
    position: relative;
    min-width: 35px;
    min-height: 12px;
}

switch-input:before {
    transition: all .2s;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    position: absolute;
    left: 100%;
    transform: translate(-100%, -25%);
    background: var(--color-main);
}

switch-input[state="0"] {
    filter: grayscale(100)
}

switch-input[state="0"]:before {
    left: 0;
    transform: translate(0, -25%);
}

switch-input:after {
    transition: all .2s;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 100%;
    transform: translate(-87%, -32%);
    background: transparent;
    pointer-events: none;
}

switch-input[state="0"]::after {
    transform: translate(-13%, -32%);
    left: 0;
}

switch-input:focus:after, 
switch-input:active:after, 
.card-list-item-clickable:focus switch-input:after,
.card-list-item-clickable:active switch-input:after {
    background: rgba(0,0,0,.2);
}


md-button {
    display: inline-block;
    padding: 10px 15px;
    background: var(--color-main);
    color: var(--color-generic-inverted);
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
    transition: all .2s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    font-family: "Product Sans", "Roboto", Arial, Helvetica, sans-serif;
}

md-button:hover {
    box-shadow: 0 4px 9px rgba(0, 0, 0, .3);
}

md-button.light {
    color: var(--color-main);
    background: var(--color-generic-inverted);
}

md-button.accent {
    background: var(--color-accent);
}

md-button.accent.light {
    background: var(--color-generic-inverted);
    color: var(--color-accent);
    
}

@keyframes ripple {
    0% {
        border-radius: 50%;
    }
    50% {
        border-radius: 50%;
    }
    100% {
        border-radius: 0;
    }
}

md-button::before {
    content: "";
    background: rgba(0,0,0,.2);
    width: 110%;
    height: 110%;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    transition: all .2s;
    transform: translate(-50%,-50%) scale(0);
    border-radius: 50%;
    pointer-events: none;
}

md-button:active:before, md-button:focus:before {
    animation-name: ripple;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    transform: translate(-50%,-50%) scale(1);
}