<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
<link rel="apple-touch-icon" sizes="57x57" href="assets/icons/ios/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/icons/ios/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/icons/ios/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/icons/ios/touch-icon-ipad-retina.png">
<link rel="apple-touch-icon" sizes="167x167" href="assets/icons/ios/touch-icon-ipad-pro.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/icons/ios/touch-icon-iphone-6-plus.png">
<link rel="apple-touch-icon" sizes="400x400" href="assets/icons/ios/touch-icon-big.png">
    <meta charset="<%= htmlWebpackPlugin.options.charset %>">
</head>
<body>
    <noscript><a href="https://temply.procsec.top">Try other Temply clients</a></noscript>
</body>

</html>